@keyframes SlideIn
{
    from
    {
        transform: translateX(-2000px);
        transform-origin: 50 50;
    }

    to
    {
        transform: translateX(0px);
        transform-origin: 50 50;
    }
}

#GameTag
{
    font-weight: 100;
    font-family: 'Courier new';

    text-shadow: 
    0px 0px 15px rgb(100, 255, 255),
    0px 0px 30px rgb(167, 204, 209);
    color: white;

}

.Title_Game
{
    position: absolute;
    top: 5%; left: 3%;

    width: 15%;
    height: 10%;
}

.Title_Game::before
{
    content: "Games";

    font-size: 60px;
    letter-spacing: 15px;

    position: absolute;
    top: 20%; left: 7%;
}

.Title_Game.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.SLL_Img
{
    position: absolute;
    top: 20%; left: 3%;

    width: 40%;
    height: 45%;
    
    background-image:url(../Images/StarLight_Line.png);
    background-size: contain;
    
    background-color: #ffffff7d;
    box-shadow: 0px 0px 10px 1px rgba(0, 255, 193, 0.534);
}

.SLL_Img:hover
{
    cursor: pointer;
}

.SLL_Img::before
{
    content: "StarLight\00a0Line";

    font-size: 60px;
    letter-spacing: 3px;
    text-decoration: underline;

    position: absolute;
    top: 0;left: 134%;
}

.SLL_Img.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.SLL_Text
{
    font-size: 30px;
    letter-spacing: 3px;

    position: absolute;
    top: 32%;left: 50%;
}

.SLL_Text.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.LB_Img
{
    position: absolute;
    top: 75%; left: 3%;

    width: 40%;
    height: 45%;
    
    background-image:url(../Images/Lethal_Blast.png);
    background-size: contain;
    
    background-color: #ffffff7d;
    box-shadow: 0px 0px 10px 1px rgba(0, 255, 193, 0.534);
}

.LB_Img:hover
{
    cursor: pointer;
}

.LB_Img::before
{
    content: "Leathal\00a0 Blast";
    
    font-size: 60px;
    letter-spacing: 3px;
    text-decoration: underline;

    position: absolute;
    top: 0;left: 134%;
}

.LB_Img.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.LB_Text
{
    font-size: 30px;
    letter-spacing: 3px;

    position: absolute;
    top: 90%;left: 50%;
}

.LB_Text.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.From_Games_To_TopPage
{
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: underline;
    
    margin: 100px;

    position: absolute;
    top: 120%; left: 40%;

    cursor: pointer;
}

.From_Games_To_TopPage.SlideIn
{
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
