html,body
{
    margin: 0 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    display: none;
}

.BackGround
{
    width: 100%;
    background-size: cover;
    
    position: fixed;
    filter: blur(6px);
}

.Catchphrase
{
    font-size: 100px;
    font-weight: 100;
    font-family: 'Courier new';
    letter-spacing: 30px;

    text-shadow: 
     0px 0px 15px rgb(100, 255, 255),
     0px 0px 30px rgb(167, 204, 209);
    color: rgb(231, 246, 253);

    position: absolute;
    top: 47%;
    left: 50%;
}

.Catchphrase.isClick
{
    animation-name: SlideLeftOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes SlideLeftOut
{
    from
    {
        transform: translateX(0px);
        transform-origin: 50 50;
    }

    to
    {
        transform: translateX(4000px);
        transform-origin: 50 50;
    }
}

.Tag
{
    position: absolute;
    transform: rotate(45deg);

    overflow: hidden;

    background-color: #ffffff7d;
    box-shadow: 0px 0px 10px 1px rgba(0, 255, 193, 0.534);
}

.Tag:hover
{
    background-color: #3834347d;
    cursor: pointer;
}

/*タグクラスで使うスライドアウトアニメーション*/
.Tag.isClick
{
    animation-name: SlideOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes SlideOut
{
    from
    {
        transform: translateX(0px) rotate(45deg);
        transform-origin: 50 50;
    }

    to
    {
        transform: translateX(-2000px) rotate(405deg);
        transform-origin: 50 50;
    }
}

.Tag_text
{
    font-weight: 100;
    font-family: 'Courier new';
    text-shadow: 
    0px 0px 15px rgb(100, 255, 255),
    0px 0px 30px rgb(167, 204, 209);

    color: white;

    position: absolute;
}

.Tag_text.isClick
{
    animation-name: SlideOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#GameTag>.Tag
{
    top: 29%; left: 6%;
    width: 25vw; height: 25vw;
}

#GameTag>.Tag_text
{ 
    font-size: 100px;
    letter-spacing: 25px;
    
    top: 35.8%; left: 8%;
}

#ProfileTag>.Tag
{
    top: 4%; left: 25%;
    width: 18vw; height: 18vw;
}

#ProfileTag>.Tag_text
{ 
    font-size: 70px;
    letter-spacing: 5px;
    
    top: 10.8%;left: 25%;
}

#TopTag>.Tag
{
    top: 4%; left: -6%;
    width: 18vw; height: 18vw;
}

#TopTag>.Tag_text
{ 
    font-size: 70px;
    letter-spacing: 5px;
    
    top: 10.8%; left: 3%;
}

#ContactTag>.Tag
{
    top: 68%; left: 25%;
    width: 18vw; height: 18vw;
}

#ContactTag>.Tag_text
{ 
    font-size: 70px;
    letter-spacing: 5px;
    
    top: 73.8%; left: 25.5%;  
}

#ThisPageTag>.Tag
{
    top: 68%; left: -6%;
    width: 18vw; height: 18vw;
}

#ThisPageTag>.Tag_text
{ 
    font-size: 70px;
    letter-spacing: 5px;
    
    top: 73.8%; left: 1%;
}
